@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&family=Zen+Dots&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}
/**********************All PAGES********************/
.top {
    background: url("images/top-1440.png") no-repeat local top center;
    background-size: stretch;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-around;

}
.text-box {
    

}
h1 {
    font-family: 'Zen Dots', cursive;
        font-size: 62px;
          
}

.bottom-other {background: url("images/bottom-other-1440.png")no-repeat local bottom center;
    background-size: stretch;
    height: 300px;
    width: 100%;

}

/**********************HOME PAGE********************/

h2 {
    font-family: 'Montserrat', sans-serif;
    

}
.middle {
    background: url("images/middle-1440.png")no-repeat local top center;
    background-size: stretch;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-around;
}

.button-box {
    margin-top: 20%;
}

.form-position {
    /* top: 10%;  */
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.buttons-home {
    background-color: rgb(253, 253, 253) ;
    color:rgb(75, 61, 22);
    border: none;
    padding: 15px 32px;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 15px;
}

.bottom {
    background: url("images/bottom-1440.png")no-repeat local top center;
    background-size: stretch;
    height: 300px;
    width: 100%;
}

/*********************PERSONAL PAGE****************************/
.goat {
    position: relative;
    top: 8%;
    left: 70%;
}

p {font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    left: 10%;
}
.icon {
    display:flex;
    
    
}

/***********************For Tablet****************************/
@media screen and (min-width: 481px) and (max-width: 768px){
    h1 {
        font-family: 'Zen Dots', cursive;
            font-size: 52px;
              
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        
    
    }
}

/**************************For Iphone******************************/
@media screen and (max-width: 480px){
    h1 {
        font-family: 'Zen Dots', cursive;
            font-size: 42px;
              
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px
        
    
    }  
} 